<div class="absolute h-full w-full">
<img class="object-fill h-full w-full" src="
https://assets.nflxext.com/ffe/siteui/vlv3/594f8025-139a-4a35-b58d-4ecf8fdc507c/6fa56356-45b4-4c99-8fa0-e2d76468e004/CA-en-20240108-popsignuptwoweeks-perspective_alpha_website_large.jpg" alt="">
</div>

<div class="w-full md:w-3/12 absolute right-0 left-0 p-12 bg-black my-36 mx-auto text-red-600 rounded-lg bg-opacity-80">
    <h1 class="font-bold text-3xl py-4">Sign In</h1>
    <div id="google-btn">

    </div>
</div>