<div class="absolute h-full w-full bItem ">
<img class="  object-fill h-full w-full " src="
https://assets.nflxext.com/ffe/siteui/vlv3/594f8025-139a-4a35-b58d-4ecf8fdc507c/6fa56356-45b4-4c99-8fa0-e2d76468e004/CA-en-20240108-popsignuptwoweeks-perspective_alpha_website_large.jpg" alt="">
</div>

<header class="h-[20%] z-10 sticky top-0 flex items-center justify-between px-5">
<img width="200px" src="assets/pngwing.com.png" alt="Netflix Logo">
</header>

<div class="flex justify-center items-center flex-col w-full md:w-3/12 absolute right-0 left-0 p-12
 bg-black my-36 mx-auto text-white-600 rounded-lg bg-opacity-50">
    <h1 class="  px-10 font-bold text-3xl py-4">Sign In</h1>
    <div class="w-fit flex items-center" id="google-btn">
        
    </div>
</div>