<app-header [userImg]="userProfileImg" [userName]="name"></app-header>

<app-banner [bannerTitle]="(bannerDetail$ | async)?.title" [bannerDescription]="(bannerDetail$ | async)?.overview"
[key]="(bannerVideo$ | async)?.results[1].key"></app-banner>

<app-movie-slider [title]="'Popular on Netflix'" [videoContents]="movies"></app-movie-slider>

<app-movie-slider [title]="'Trending TV shows'" [videoContents]="tvShows" ></app-movie-slider>

<app-movie-slider [title]="'Now Playing Movies'" [videoContents]="nowPlayingMovies" ></app-movie-slider>



<app-movie-slider [title]="'Top Rated Movies'" [videoContents]="topRatedMovies" ></app-movie-slider>

<app-movie-slider [title]="'Upcoming Movies'" [videoContents]="upcomingMovies" ></app-movie-slider>